@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
  }

  @page {
    size: A4;
    margin: 10mm;
  }

  .print\\:hidden {
    display: none !important;
  }
}


@media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm;
    padding: 10mm;
  }

  .no-print {
    display: none !important;
  }

  @page {
    size: A4;
    margin: 10mm;
  }
}

