@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body {
    margin: 0;
  }

  @page {
    size: A4;
    margin: 10mm;
  }

  .print\\:hidden {
    display: none !important;
  }
}
